.loginFormDiv{
    width: 350px;
    position: absolute;
    left: 200px;
    top: 250px;
    z-index: 3 !important;
}

#accountLink {
    margin-top: -5px;
    margin-bottom: 5px;
}

.loginVideoBackground {
    position: fixed;
    z-index: 1;
}

.loginIMGBackground{
    position: fixed;
    z-index: 2;
    opacity: 0.75;

}
#InloggenLink{
    position: absolute;
    top: 75%;
}

/*Login link index pagina*/
.loginLink{
    position: absolute;
    top: 5px;
    right: 5px;
}

#pwdShow{
    position: absolute;
    left: 91%;
    margin-top: 4px;
    color: black;
    font-size: 27px !important;
}