.MusicPlayer {
    background-color: rgba(58, 59, 58, 0.8);
    width: 100%;
    height: 95px;
    position: absolute;
    bottom: 0px;
}

/*Opent/sluit muziek speler*/
.MusicPlayerOpen{
    position: absolute;
    bottom: 20px;
    right: 5px;
    font-size: 23px !important;
    display: none !important;
}
.MusicPlayerClose{
    position: absolute;
    top: 1px;
    right: 5px;
    font-size: 23px !important;
}

#songCoverImage {
    position: absolute;
    height: 100%;
    z-index: 4 !important;
}

.SongInfo {
    position: absolute;
    top: 10px;
    left: 6%;
}

#MusicPlayerTitle {
    font-weight: bold;
    font-size: 22px;
}

#MusicPlayerArtist, #MusicPlayerAlbum {
    color: rgb(192,192,192);
    font-size: 16px;
}

/*vorige/pauzeer/volgende nummer in het midden*/
#buttons {
    position: absolute;
    left: Calc(50% - 74px);
    margin-top: 5px;
}

.Pause{
    display: none !important;
}

#MusicPlayerPlay {
    margin-left: 20px;
    margin-right: 20px;
}

/*Opmaak van de vorige/pauzeer/volgende nummer*/
.PlayMusicButton {
    transition: all .1s ease-in-out;
    font-size: 40px !important;
}

    .PlayMusicButton:hover {
        transform: scale(1.05);
    }

/*Progress bar van de tijd van het nummer*/
#seek-bar {
    width: 31.25%;
    margin: 52px auto 0px;
    height: 11px;
    background-color: gray;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
}
/*De blauw balk van de progres*/
#fill {
    height: 11px;
    width: 0%;
    background-color: royalblue;
    border-radius: 20px;
}
/*Rond eind van de balk*/
#handle {
    width: 9px;
    height: 9px;
    background-color: royalblue;
    border-radius: 50%;
    margin-left: -5px;
    transform: scale(2);
}

/*Tijd van het nummer*/
.MusicPlayerTime {
    font-family: BioRhyme-Regular;
    position: absolute;
    top: 44px;
}
/*Huidige tijd van het nummer*/
#MusicPlayerCurrentTime {
    left: 31%;
}
/*Max tijd van het nummer*/
#MusicPlayerMaxTime {
    left: 66%;
}

.MusicPlayerVolume {
    position: absolute;
    bottom: 42px;
}
#MusicPlayerVolumeMin {
    right: 180px;
}
#MusicPlayerVolumeMax {
    right: 25px;
}

/*Opmaak van de volume slider*/
.volumeSlider {
    -webkit-appearance: none;
    height: 10px;
    background-color: gray;
    outline: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    right: 45px;
    bottom: 45px;
    width: 130px;
}

    .volumeSlider::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: 8px;
        height: 8px;
        background-color: royalblue;
        border-radius: 50%;
        transform: scale(2);
        cursor: pointer;
    }
