<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = new SongMethods();
    DataSet ds = mySongMethods.GetAllSongs();
}

<html>
<head>
    <title>PlayMusic</title>
</head>
<body>
    <table>
        @foreach (DataRow dr in ds.Tables["songs"].Rows)
        {
            <tr>
                <td>@dr["id"]</td>
                <td>@dr["artist"]</td>
                <td>@dr["title"]</td>
            </tr>
        }
    </table>
</body>
</html>