<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = new SongMethods();
    string file = @"~\App_Data\PlayList.xml";
    DataSet ds = mySongMethods.GetAllSongs(file);
    //Pagina 10
    Session["playlistClass"] = mySongMethods;
    Session["file"] = file;
    //Pagina 13
}

<html>
<head>
    <title>PlayMusic</title>
    <link rel="stylesheet" href="~/CSS/account.css"/>
    <link rel="stylesheet" href="~/CSS/fonts.css"/>
    <link rel="stylesheet" href="~/CSS/style.css"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</head>
<body>
    <table>
        <tr>
            <td>ID</td>
            <td>Artiest</td>
            <td>Title</td>
            <td>Bestand locatie</td>
        </tr>
        @foreach (DataRow dr in ds.Tables["songs"].Rows)
        {
            <tr>
                <td>@dr["id"]</td>
                <td>@dr["artist"]</td>
                <td>@dr["title"]</td>
                <td>@dr["fileLocation"]</td>
                <td><a href="~/Pages/DeleteSong.cshtml?id=@dr["id"]">Verwijderen</a></td>
            </tr>
        //Pagina 11
        //Regel 39 pagina 18
        }
    </table>
    <a href="~/Pages/CreateSong.cshtml">Create Songs</a>
    <a href="~/Pages/DeleteSong.cshtml">Delete Songs</a>
</body>
</html>