<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{ 
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<html>
<head>
    <title>PlayMusic</title>
    <link rel="stylesheet" href="~/CSS/account.css" />
    <link rel="stylesheet" href="~/CSS/fonts.css" />
    <link rel="stylesheet" href="~/CSS/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div>
        <form method="post">
            <div class="accountDiv">
                <p id="accountTitle">PlayMusic</p>
                <p id="accountSubTitle">Voer hier de gegevens van een nieuwe song toe:</p>

                <div class="accountInputContainer">
                    <i class="fa fa-user accountIcon"></i><input class="textInputNormal" type="text" placeholder="ID" name="id" />
                </div>
                <div class="accountInputContainer">
                    <i class="fa fa-key accountIcon"></i><input class="textInputNormal" type="text" placeholder="Artiest" name="artist" />
                </div>
                <div class="accountInputContainer">
                    <i class="fa fa-key accountIcon"></i><input class="textInputNormal" type="text" placeholder="Title" name="title" />
                </div>
                <div class="accountInputContainer">
                    <i class="fa fa-key accountIcon"></i><input class="textInputNormal" type="text" placeholder="Bestand locatie" name="fileLocation" />
                </div>
                <input type="submit" class="submit" id="accountSubmit" value="Opslaan" />
            </div>
        </form>
        @{
            //Pagina 15
        }
        @if (IsPost)
        {
            DataRow dr = mySongMethods.GetEmptyDataRow();

            dr[0] = Request.Form["id"];
            dr[1] = Request.Form["artist"];
            dr[2] = Request.Form["title"];
            dr[3] = Request.Form["fileLocation"];

            mySongMethods.CreateSong(dr, file);
            Response.Redirect(@"~/index.cshtml");
            //Pagina 16
        }
    </div>
</body>
</html>
