<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;
@using System.IO;

@{ 
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<html>
@RenderPage("~/Shared/_Header.cshtml")
<body>
    <div>
        <form method="post">
            <div class="formDiv">
                <p id="formTitle">PlayMusic</p>
                <p id="formSubTitle">Nieuw nummer toevoegen</p>

                @if (IsPost)
                {
                    string fileLocation = Request.Form["fileLocation"];
                    if (!fileLocation.Contains("https://www.youtube.com/embed/"))
                    {
                        <div id='formError'>
                            <p>ERROR!</p>
                            <p>Alleen YouTube embed links zijn toegestaan</p>
                        </div>
                    }
                    else
                    {
                        DataRow dr = mySongMethods.GetEmptyDataRow();

                        dr[0] = Request.Form["id"];
                        dr[1] = Request.Form["title"];
                        dr[2] = Request.Form["artist"];
                        dr[3] = Request.Form["album"];
                        dr[4] = Request.Form["cover"];
                        dr[5] = Request.Form["fileLocation"];
                        dr[6] = Request.Form["afspeelDuur"];

                        mySongMethods.CreateSong(dr, file);
                        <div id='formSuccess'>
                            <p>Nummer succesvol toegevoegd.</p>
                            <p>U wordt automatisch terug gestuurd naar de home pagina.</p>
                        </div>
                        Response.AddHeader("REFRESH", "5.5;URL=../index.cshtml");
                        //Pagina 16
                    }
                }

                <div class="formInputContainer">
                    <i class="fa fa-id-card formIcon"></i><input class="InputBox" type="text" value="@Session["nextID"]" name="id" readonly />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-music formIcon"></i><input class="InputBox" type="text" placeholder="Title" name="title" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-user formIcon"></i><input class="InputBox" type="text" placeholder="Artiest" name="artist" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-music formIcon"></i><input class="InputBox" type="text" placeholder="Album" name="album" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-file formIcon"></i><input class="InputBox" type="text" placeholder="Cover foto" name="cover" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-file formIcon"></i><input class="InputBox" type="text" placeholder="Bestand locatie" name="fileLocation" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-file formIcon"></i><input class="InputBox" type="text" placeholder="Afspeel Duur" name="afspeelDuur" />
                </div>
                <p class="formWarning">Alleen YouTube embed links toegestaan!</p>
                <a class="formEmbedLink" href="../Shared/EmbedTutorial.cshtml" target="popup" onclick="window.open('../Shared/EmbedTutorial.cshtml','popup','width=600,height=600'); return false;">Hoe krijg ik een embed link?</a>

                <input type="submit" class="submit" id="accountSubmit" value="Nummer toevoegen" />
            </div>
        </form>
    </div>
</body>
@RenderPage("~/Shared/_Footer.cshtml")
</html>
