<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;
@using System.IO;

@{ 
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<html>
@RenderPage("~/Shared/_Header.cshtml")
<body>
    <div>
        <form method="post">
            <div class="formDiv">
                <p id="formTitle">PlayMusic</p>
                <p id="formSubTitle">Nieuw nummer toevoegen</p>

                @if (IsPost)
                {
                    DataRow dr = mySongMethods.GetEmptyDataRow();

                    dr[0] = Request.Form["id"];
                    dr[1] = Request.Form["title"];
                    dr[2] = Request.Form["artist"];
                    dr[3] = Request.Form["cover"];
                    dr[4] = Request.Form["fileLocation"];

                    mySongMethods.CreateSong(dr, file);
                    <div id='formSuccess'>
                        <p>Nummer succesvol toegevoegd.</p>
                        <p>U wordt automatisch terug gestuurd naar de home pagina.</p>
                    </div>
                    Response.AddHeader("REFRESH", "6;URL=../index.cshtml");
                    //Pagina 16
                }

                <div class="formInputContainer">
                    <i class="fa fa-id-card formIcon"></i><input class="InputBox" type="text" value="@Session["nextID"]" name="id" readonly/>
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-music formIcon"></i><input class="InputBox" type="text" placeholder="Title" name="title" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-user formIcon"></i><input class="InputBox" type="text" placeholder="Artiest" name="artist" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-file formIcon"></i><input class="InputBox" type="text" placeholder="Cover foto" name="cover" />
                </div>
                <div class="formInputContainer">
                    <i class="fa fa-file formIcon"></i><input class="InputBox" type="text" placeholder="Bestand locatie" name="fileLocation" />
                </div>
                <input type="submit" class="submit" id="accountSubmit" value="Nummer toevoegen" />
            </div>
        </form>
    </div>
</body>
@RenderPage("~/Shared/_Footer.cshtml")
</html>
