<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;

    //Pagina 17
}

<html>
<head>
    <title>PlayMusic</title>
    <link rel="stylesheet" href="~/CSS/account.css" />
    <link rel="stylesheet" href="~/CSS/fonts.css" />
    <link rel="stylesheet" href="~/CSS/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/Images/icon.ico" type="image/x-icon">
</head>
<body>
    <div>
        <p>Weet u zeker dat u deze song wilt verwijderen?</p>
        <form method="post">
            Ja <input type="radio" name="DeleteSong" value="ja" />
            Nee <input type="radio" name="DeleteSong" value="Nee" />

            <input type="submit" value="Verder" />
        </form>
    </div>

    @if (IsPost)
    {
        if (Request.Form["keuze"] == "ja")
        {
            string id = Request.QueryString["id"];
            mySongMethods.DeleteSong(id, file);
        }

        Response.Redirect(@"~/index.cshtml");
    }


</body>
</html>
