@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<div id="overlay"></div>
<div id="divBox" class="divBox">
    <i onclick="closeOverlay()" id="close" class="fa fa-times-circle"></i>

    <p id="DeleteSongWarning">LET OP!</p>
    <br />
    <p>Weet u zeker dat u dit nummer wil verwijderen?</p>
    <p>Dit kan <u>niet</u> ongedaan gemaakt worden</p>
    <form id="DeleteSong" method="post">
        Ja <input type="radio" name="DeleteSong" value="ja" />
        Nee <input type="radio" name="DeleteSong" value="Nee" checked="checked"/>
        <input type="hidden" name="DeleteSongId" id="DeleteSongHiddenInput" value=""/>
        <input type="submit" class="submit" id="DeleteSongSubmit" value="Verder" />
    </form>
</div>

