@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<div id="overlay1"></div>
<div id="divBox1" class="divBox">
    <i onclick="closeOverlayEditSong()" id="close1" class="fa fa-times-circle"></i>

    <p id="EditSongWarning">LET OP!</p>
    <br />
    <p>Weet u zeker dat u dit nummer wil aanpassen?</p>
    <form id="EditSong" method="post">
        ID <input type="text" name="id" /><br />
        Title <input type="text" name="title" /><br />
        Artiest <input type="text" name="artiest" /><br />
        Album <input type="text" name="album" /><br />

        Ja <input type="radio" name="EditSong" value="ja" />
        Nee <input type="radio" name="EditSong" value="Nee" checked="checked" />
        <input type="hidden" name="EditSongId" id="EditSongHiddenInput" value="" />
        <input type="submit" class="submit" id="EditSongSubmit" value="Verder" />
    </form>
</div>

@if (IsPost)
{
    if (Request.Form["EditSong"] == "ja")
    {
        string id = Request.Form["EditSongId"];
        mySongMethods.DeleteSong(id, file);
    }

    Response.Redirect(@"~/index.cshtml");
}