@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;
}

<div id="overlay1"></div>
<div id="divBox1" class="divBox">
    <i onclick="closeOverlayEditSong()" id="close1" class="fa fa-times-circle"></i>

    <p>Nummer bijwerken</p>
    <form id="EditSong" method="post">
        Title <input type="text" name="EditSongTitle" id="EditSongTitle" value="" /><br />
        Artiest <input type="text" name="EditSongArtist" id="EditSongArtist" value="" /><br />
        Album <input type="text" name="EditSongAlbum" id="EditSongAlbum" value=""/><br />

        Opslaan <input type="radio" name="EditSong" value="ja" />
        <input type="hidden" name="EditSongId" id="EditSongHiddenInputID" value="" />
        <input type="hidden" name="EditSongCover" id="EditSongHiddenInputCover" value="" />
        <input type="hidden" name="EditSongFileLocation" id="EditSongHiddenInputFileLocation" value="" />
        <input type="submit" class="submit" id="EditSongSubmit" value="Verder" />
    </form>
</div>

@if (IsPost)
{
    if (Request.Form["EditSong"] == "ja")
    {
        string id = Request.Form["EditSongId"];
        string title = Request.Form["EditSongTitle"];
        string artist = Request.Form["EditSongArtist"];
        string album = Request.Form["EditSongAlbum"];
        string cover = Request.Form["EditSongCover"];
        string fileLocation = Request.Form["EditSongFileLocation"];
        mySongMethods.EditSong(id, title, artist, album, cover, fileLocation, file);
    }

    Response.Redirect(@"~/index.cshtml");
}