<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

@{
    SongMethods mySongMethods = Session["playlistClass"] as SongMethods;
    string file = Session["file"] as string;

    //Pagina 17
}

<html>
<head>
    <title>PlayMusic</title>
    <link rel="stylesheet" href="~/CSS/account.css" />
    <link rel="stylesheet" href="~/CSS/fonts.css" />
    <link rel="stylesheet" href="~/CSS/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/Images/icon.ico" type="image/x-icon">
</head>
<body>
    <div id="PlayDiv">
        <img id="image" src="~/Images/Songs/Song1.jpg" />
        <div id="player">
            <div id="songTitle"></div>
            <div id="buttons">
                <button id="pre"><i class="fa fa-arrow-left PlayMusicButton"></i></button>
                <button id="play"><i class="fa fa-play PlayMusicButton"></i></button>
                <button id="next"><i class="fa fa-arrow-right PlayMusicButton"></i></button>
            </div>
        </div>

        <div id="seek-bar">
            <div id="fill"></div>
            <div id="handle"></div>
        </div>
    </div>
</body>
</html>
