<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;
@using System.IO;

<html>
@RenderPage("~/Shared/_Header.cshtml")
<body>
    <div>
        <img src="~/Pages/Login/loginBackground.png" class="loginIMGBackground" />
        <video class="loginVideoBackground" autoplay muted loop>
            <source src="~/Pages/Login/LoginVideo.webm" type="video/mp4">
            Geen video beschikbaar
        </video>
    </div>
    <div class="loginFormDiv">
        <p id="formTitle">PlayMusic</p>
        <p id="formSubTitle">Wachtwoord reset</p>
        @if (IsPost)
        {
            string username = Request.Form["username"];
            string email = Request.Form["email"];
            
            <div id='formSuccess'>
                <p>Reset email verzonden</p>
                <p>Controlleer uw email voor een reset link</p>
                <p>U wordt automatisch terug gestuurd naar de login pagina.</p>
            </div>
            Response.AddHeader("REFRESH", "5.5;URL=Login.cshtml");
        }
        <form method="post">
            <div class="formInputContainer">
                <i class="fa fa-user formIcon"></i><input class="InputBox" type="text" placeholder="Gebruikersnaam" name="username" />
            </div>
            <div class="formInputContainer">
                <i class="fa fa-envelope formIcon"></i><input class="InputBox" type="email" placeholder="Email adress" name="email" />
            </div>
            <a class="smallLink" id="accountLink" href="~/Pages/Login.cshtml">Inloggen</a>
            <input type="submit" class="submit" id="accountLink" value="Wachtwoord resetten" />
        </form>
    </div>

</body>
@RenderPage("~/Shared/_Footer.cshtml")
</html>
