<head>
    <title>PlayMusic</title>
    <link rel="stylesheet" href="~/CSS/fonts.css" />
    <link rel="stylesheet" href="~/CSS/style.css" />
    <link rel="stylesheet" href="~/CSS/PlaySongs.css" />
    <link rel="stylesheet" href="~/CSS/DeleteSong.css" />
    <link rel="stylesheet" href="~/CSS/playList.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="~/Images/icon.ico" type="image/x-icon">
    <script src="~/Scripts/jquery-3.0.0.min.js"></script>
    <script src="~/Scripts/DeleteSong.js"></script>
</head>