<div class="MusicPlayer" id="MusicPlayer">

    <img id="songCoverImage" src="" alt="SongCover" />

    <div class="SongInfo">
        <div id="MusicPlayerTitle">*Title*</div>
        <div id="MusicPlayerArtist">*Artiest*</div>
        <div id="MusicPlayerAlbum">*Album*</div>
    </div>

    <div id="buttons">
        <span title="Vorig nummer"><i id="pre" class="fa fa-arrow-left PlayMusicButton"></i></span>
        <div id="PlayPause">
            <span title="Speel"><i onclick="MusicPlayerPlay('play')" id="MusicPlayerPlay" class="fa fa-play PlayMusicButton"></i></span>
            <span title="Pauzeer"><i onclick="MusicPlayerPlay('pause')" id="MusicPlayerPause" class="fa fa-pause PlayMusicButton Pause"></i></span>
        </div>
        <span title="Volgend nummer"><i id="next" class="fa fa-arrow-right PlayMusicButton"></i></span>
    </div>

    <div id="audio"></div>

    <div class="MusicPlayerTime" id="MusicPlayerCurrentTime">00:00</div>
    <div id="seek-bar">
        <div id="fill"></div>
        <div id="handle"></div>
    </div>
    <div class="MusicPlayerTime" id="MusicPlayerMaxTime">00:00</div>

    <span title="Volume">
        <i class="fa fa-volume-down MusicPlayerVolume" id="MusicPlayerVolumeMin"></i>
        <input type="range" min="1" max="100" value="75" class="volumeSlider" id="volumeControll" oninput="SetVolume(this.value)" onchange="SetVolume(this.value)">
        <i class="fa fa-volume-up MusicPlayerVolume" id="MusicPlayerVolumeMax"></i>
    </span>

    <span title="Verberg muziek speler">
        <i onclick="MusicPlayerClose()" class="fa fa-arrow-down MusicPlayerClose"></i>
    </span>
</div>