<!DOCTYPE html>

@using System.Data;
@using XmlCrud.App_Code;

<html>
@RenderPage("~/Shared/_Header.cshtml")
<body>
    <div>
        <h1 class="EmbedTuturial">Hoe krijg ik een YouTube Embed link?</h1>

        <ul>
            <li>Ga naar de gewenste YouTube video toe.</li>
            <li>Rechter muisknop binnen in de video.</li>
            <li>Klik op: 'Inlsuitcode kopiëren'.</li>
            <li>Plak de gewenste link in een tekst bewerker.</li>
            <li>De link moet er als volgs uit zien:</li>
            <li><img class="EmbedTuturialImg" src="~/Images/EmbedLinkTuturial.png"</li>
            <li>Na het gedeelte 'src="' staat een link</li>
            <li>Deze link moet tot aan de <b>"</b> gekopieerd worden</li>
            <li><img class="EmbedTuturialImg" src="~/Images/EmbedLinkTuturial2.png"</li>
            <li>Dat is alles</li>
        </ul>
        <a class="EmbedTuturial" href="javascript:self.close()">Venster sluiten</a>

    </div>
</body>
</html>
